In [37]:
import pandas as pd
import numpy as np

In [38]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)

In [39]:
df1=df[0]

In [40]:
df1.head()

  Post Code           Borough               Neighborhood
0       M1A      Not assigned               Not assigned
1       M2A      Not assigned               Not assigned
2       M3A        North York                  Parkwoods
3       M4A        North York           Victoria Village
4       M5A  Downtown Toronto  Regent Park, Harbourfront

In [41]:
df1.rename(columns={'Post Code':'Postalcode'},inplace=True)

In [42]:
df1.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [43]:
df2=df1[df1['Borough']!= 'Not assigned']

In [44]:
df2.Neighborhood[df2.Neighborhood=='Not assigned']= df2.Borough

D:\Anaconda\lib\site-packages\pandas\core\generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [47]:
df2.head(100)

,Postalcode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
153,M1X,Scarborough,Upper Rouge
156,M4X,Downtown Toronto,"St. James Town, Cabbagetown"
157,M5X,Downtown Toronto,"First Canadian Place, Underground city"
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley

In [48]:
df2.shape

(103, 3)